In [35]:
import numpy as np

In [36]:
import pandas as pd

In [37]:
s = pd.Series(np.random.randn(5), index =['a', 'b', 'c', 'd', 'e'])

In [38]:
s

a   -0.342262
b    1.471493
c   -0.151418
d   -0.221172
e    0.222618
dtype: float64

In [39]:
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [40]:
pd.Series(np.random.randn(5))

0   -0.180362
1   -0.138648
2   -0.699465
3   -0.558196
4    0.099430
dtype: float64

In [41]:
d = {'b':1,'a':0,'c':2}

In [42]:
pd.Series(d)

a    0
b    1
c    2
dtype: int64

In [43]:
d = {'a' : 0., 'b' : 1., 'c' : 2.}

In [44]:
pd.Series(d)

a    0.0
b    1.0
c    2.0
dtype: float64

In [45]:
pd.Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

In [46]:
pd.Series(5., index=['a', 'b', 'c', 'd', 'e'])

a    5.0
b    5.0
c    5.0
d    5.0
e    5.0
dtype: float64

In [47]:
s[0]

-0.342262143787304

In [48]:
s[:3]

a   -0.342262
b    1.471493
c   -0.151418
dtype: float64

In [49]:
s[s > s.median()]

b    1.471493
e    0.222618
dtype: float64

In [50]:
s[[4, 3, 1]]

e    0.222618
d   -0.221172
b    1.471493
dtype: float64

In [51]:
np.exp(s)

a    0.710162
b    4.355731
c    0.859488
d    0.801578
e    1.249344
dtype: float64

In [52]:
s['a']

-0.342262143787304

In [53]:
s['e']

0.2226184310773811

In [54]:
s

a   -0.342262
b    1.471493
c   -0.151418
d   -0.221172
e    0.222618
dtype: float64

In [55]:
'e' in s

True

In [56]:
'f' in s

False

In [57]:
s.get('f')

In [58]:
s.get('f',np.nan)

nan

In [59]:
s.get('f',"whatever_i_want")

'whatever_i_want'

In [60]:
s + s

a   -0.684524
b    2.942985
c   -0.302837
d   -0.442345
e    0.445237
dtype: float64

In [61]:
s*2

a   -0.684524
b    2.942985
c   -0.302837
d   -0.442345
e    0.445237
dtype: float64

In [62]:
np.exp(s)

a    0.710162
b    4.355731
c    0.859488
d    0.801578
e    1.249344
dtype: float64

In [63]:
s[1:] + s[:-1]

a         NaN
b    2.942985
c   -0.302837
d   -0.442345
e         NaN
dtype: float64

In [64]:
s = pd.Series(np.random.randn(5), name='something')

In [65]:
s

0   -0.435449
1    0.628772
2    0.170803
3    0.736399
4   -0.688743
Name: something, dtype: float64

In [66]:
s.name

'something'

In [67]:
s2 = s.rename("different")

In [68]:
s2.name

'different'

In [69]:
d = {'one' : pd.Series([1., 2., 3.], index =['a', 'b', 'c']),
     'two' : pd.Series([1., 2., 3.,4.], index =['a', 'b', 'c', 'd'])}

In [70]:
df = pd.DataFrame(d)

In [71]:
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [72]:
pd.DataFrame(d, index=['d', 'b', 'a'])

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0

In [73]:
pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three'])

   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN